body{
    background-color: beige;
 }
 hr{
    background-color:rgba(245, 245, 245, 0.801);
    border-style: none;
    border-top-style: dotted;
    border-color:rgb(119, 48, 212);
    border-width:5px;
    width:5%;
    
 }
 img{
    height:200px;
    width:200px;

 }
 h1:hover{
    color:blue;
 }
 h3 :hover{
    color:#cf1834;
 }
 .me{
    border-radius: 100%;
 }
 a:hover{
    color:red;
 }
 div{
    margin:0; 
       background-color: #E3DFFD;
 }
 h1{
    margin:0;
 }
